<mat-toolbar color="primary">
  <button (click)="voltar()" mat-icon-button>
    <mat-icon>arrow_back </mat-icon>
  </button>
 Vagas
</mat-toolbar>
<span class="toolbar-spacer"></span>
<div>
  <div>
  <mat-action-list >
    <mat-list-item  *ngFor="let vaga of vagas">
      <div mat-line><a  routerLink="#" (click)="redirectToDetails(vaga)">{{ vaga.cargo }}</a> </div>
      <div mat-line>{{ vaga.resposabilidades }}</div>
    </mat-list-item>
  </mat-action-list>
  </div>
  <div class=".fab-container">
    <button (click)="redirectToCreateJob()" aria-label="Icone para adicionar uma nova vaga" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
