<mat-toolbar color="primary">
    <button mat-icon-button (click)="voltar()">
      <mat-icon>arrow_back </mat-icon>
    </button>
  {{getTitulo()}}
  <span class="toolbar-spacer"></span>
  <button *ngIf="!isRecrutador"  mat-icon-button class="example-icon favorite-icon" aria-label="cancelar inscricao" (click)="excluir()">
    <mat-icon>delete</mat-icon>
  </button>
  <button *ngIf="isRecrutador"  mat-icon-button class="example-icon favorite-icon" aria-label="Editar" (click)="redirectToUpdate()">
    <mat-icon>edit</mat-icon>
  </button>


  </mat-toolbar> <span class="toolbar-spacer"></span>
<mat-card-content class="container">

  <mat-card class="card-adicionar">
<form [formGroup]="inscricaoForm"  novalidate>

  <mat-card-content class="conteudo-empresa-adicionar">


    <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Cargo Vaga</mat-label>
        <input   matInput  [disabled]="true" formControlName="vaga_nome"  type="text" >
      </mat-form-field>
    <mat-form-field appearance="outline" class="form-field-full">
      <mat-label>Nome candidato</mat-label>
      <input   matInput  [disabled]="true" formControlName="usuario_nome"  type="text" >
    </mat-form-field>
      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Feedback</mat-label>
        <input formControlName="feedback"  matInput  type="text"  >
      </mat-form-field >
      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>APto</mat-label>
        <input formControlName="apto_entrevista"  matInput  type="text"  >
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Status</mat-label>
        <input formControlName="status_nome"  matInput  type="text"  >
      </mat-form-field>


  </mat-card-content>
</form>

</mat-card>

</mat-card-content>
