<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="card-tile" >
        <mat-card routerLink = "vagas" class="my-card">
            <mat-card-title>Vagas</mat-card-title>
            <mat-card-subtitle>Verificar vagas</mat-card-subtitle>   
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  class="card-tile" colspan='1' >
        <mat-card routerLink = "empresa" class="my-card">
        <mat-card-title>Empresas</mat-card-title>
        <mat-card-subtitle>Verificar empresas</mat-card-subtitle>
        
      </mat-card></mat-grid-tile>
    
  </mat-grid-list>
