<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    Dados Pessoais
    <mat-list>
      <mat-list-item> Informações </mat-list-item>
      <mat-list-item> Endereço </mat-list-item>
    </mat-list>
     <mat-divider></mat-divider>
     <div *ngIf="temPermissaoCandidato" >Currículo
     <mat-nav-list>
       <mat-list-item> Formação </mat-list-item>
       <mat-list-item> Experiência </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>
      <mat-action-list>
        <button mat-list-item (click)="deslogar()">Sair</button>
      </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
     Erijob
      <span class="toolbar-spacer"></span>
     
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>