<mat-toolbar color="primary">
    <button (click)="voltar()" mat-icon-button>
      <mat-icon>arrow_back </mat-icon>
    </button>
   Nova empresa
  </mat-toolbar> <span class="toolbar-spacer"></span>
  <mat-card-content class="container">

    <mat-card class="card-empresa-adicionar">

      <form [formGroup]="empresaForm"  novalidate>

        <mat-card-content class="conteudo-empresa-adicionar">

          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>Nome</mat-label>
           <input formControlName="nome"  matInput  type="text"  >
            <mat-error *ngIf="empresaForm.controls['nome'].errors?.['required'] && empresaForm.controls['nome'].touched">
              Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>CNPJ</mat-label>
           <input formControlName="cnpj"  matInput  type="text"  >
            <mat-error *ngIf="empresaForm.controls['cnpj'].errors?.['required'] && empresaForm.controls['cnpj'].touched">
              CNPJ é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>Ramo</mat-label>
           <input formControlName="ramo"  matInput  type="text"  >
            <mat-error *ngIf="empresaForm.controls['ramo'].errors?.['required'] && empresaForm.controls['cnpj'].touched">
              Ramo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field >
          <!--<mat-form-field appearance="outline" class="form-field-full"  *ngIf = "cidadesCarregadas">
            <mat-label>Sede</mat-label>
           <input  [matAutocomplete]="auto" matInput placeholder="ex: Belo horizonte..." type="text">
            <mat-error *ngIf="empresaForm.controls['sede'].errors?.['required'] && empresaForm.controls['sede'].touched">
              Sede é um campo <strong>obrigatório</strong>
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let cidade of citiesMockLResponse$ | async" [value]="cidade.cod_cidade">
                  {{ cidade.nom_cidade }}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>-->
        </mat-card-content>

      </form>

      <mat-card-actions align="end">
        <button (click)="salvar()" align="end"  color="primary" mat-raised-button>Salvar</button>
      </mat-card-actions>

    </mat-card>

  </mat-card-content>
