<mat-toolbar color="primary">
    <button (click)="voltar()" mat-icon-button>
      <mat-icon>arrow_back </mat-icon>
    </button>
   Nova empresa
  </mat-toolbar> <span class="toolbar-spacer"></span>
  <mat-card-content class="container">

    <mat-card class="card-empresa-adicionar">

      <form [formGroup]="empresaForm"  novalidate>

        <mat-card-content class="conteudo-empresa-adicionar">

          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>Nome</mat-label>
           <input formControlName="nome"  matInput  type="text"  >
            <mat-error *ngIf="empresaForm.controls['nome'].errors?.['required'] && empresaForm.controls['nome'].touched">
              Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>CNPJ</mat-label>
           <input  formControlName="cnpj"  matInput  type="text"  mask="00.000.000/0000-00" >
            <mat-error *ngIf="empresaForm.controls['cnpj'].errors?.['required'] && empresaForm.controls['cnpj'].touched">
              CNPJ é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="empresaForm.controls['cnpj'].invalid && empresaForm.controls['cnpj'].touched && !empresaForm.controls['cnpj'].errors?.['required']">
              CNPJ <strong>inválido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>Ramo</mat-label>
           <input formControlName="ramo"  matInput  type="text"  >
            <mat-error *ngIf="empresaForm.controls['ramo'].errors?.['required'] && empresaForm.controls['cnpj'].touched">
              Ramo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field >
          <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [formControl]="estadosControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let estado of estados" [value]="estado">
                {{EstadosMapping[estado]}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="estadosControl.hasError('required')">Estado é   <strong>obrigatório</strong></mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="statesControl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img alt="" class="example-option-img" [src]="state.flag" height="25">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
           <input
             type="text"
             placeholder="Cidade"
             [formControl]="cidadesControl"
             matInput
             [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
             <mat-option
               *ngFor="let cidade of cidadesCarregadas | async"
               [value]="cidade.nom_cidade">
               {{cidade.nom_cidade}}
             </mat-option>
           </mat-autocomplete>
         </mat-form-field>
        </mat-card-content>

      </form>

      <mat-card-actions align="end">
        <button (click)="salvar()" align="end"  color="primary" mat-raised-button>Salvar</button>
      </mat-card-actions>

    </mat-card>

  </mat-card-content>
