@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer {
    background-color: hsl(217, 15%, 78%);
    color:#fff;
  height: 100%;
}
.mat-list {
    background-color: #c0c6d0;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.espacamento-toolbar {
    flex: 1 1 auto;
  }
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(23, 21, 21, 0.5);
}


.my-card {
    background: lavender;
    width: 100%;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.conteudo{
  display: flex;
  flex-direction: column;
}
.card-padrao{
  width: 1200px;
}
